<h1>Szoszi</h1>
{{title}}
{{valtozo}}
{{tomb[2]}}

<ng-container *ngIf="tomb.length== 0;else vanelem">
  <h2>Nincsenek nevek felvéve</h2>
</ng-container>

<ng-template #vanelem>
  <div *ngFor="let nev of tomb">
    {{nev}}
  </div>
</ng-template>
<br>
<br>
<div *ngFor="let tancsi of obj">
  {{tancsi.name}},{{tancsi.age}}
  
</div>

<br>

<span *ngFor="let oszlop of oszlopok">
  <span>{{oszlop}}</span>
</span>
<div *ngFor="let tancsi of obj">
  <span *ngFor="let oszlop of oszlopok">
    <span>{{tancsi[oszlop]}}</span>
  </span>
</div>
